<% blog_style = blog.cover_image.attached? ? "background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.6)), url('#{cl_image_path(blog.cover_image.key, height: 800, width: 800, crop: :fill)}')" : "background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0), rgba(0, 0, 0, 0.6))" %>

<%= link_to blog, class: 'bg-white h-full rounded-lg shadow hover:shadow-lg transform scale-100 hover:scale-[1.02] transition-all duration-200 ease-in-out p-4 md:p-8 flex items-end bg-cover bg-center', style: blog_style do %>
    <div class="w-full flex justify-between items-end gap-x-10">
        <div class="space-y-2 text-white grow-1 shrink-1">
            <p class="h3 line-clamp-2 text-white drop-shadow-sm"><%= blog.title %></p>
            <p class="line-clamp-2 opacity-80"><%= blog.content %></p>
        </div>
        <%= content_tag :div, class: "hover:shadow-lg transform scale-100 hover:scale-105 transition-all duration-200 ease-in-out shrink-0 h-10 w-10 flex items-center justify-center text-tertiary-900 bg-white shadow rounded-full" do %>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
        <% end %>
    </div>
<% end %>